.header {
    height: 120px;
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin-top: 4px;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-item--qr:hover .header__qr{
    display: block;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: inline-flex;
    align-items: center;
}

.header__navbar-item:hover
.header__navbar-icon-link:hover
.header__navbar-item-link:hover {
    opacity: 0.7;
    cursor: pointer;
}

.header__navbar-item--bold {
    font-weight: 400;
}

.header__navbar-item--separate::before {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #FB9086 ;
    height: 12px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__navbar-title--no-poiter {
    cursor: text;
    color: var(--white-color);
}


/* Header QR CODE */

.header__qr {
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 118%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 1s;
}

.header__qr::before {
    position: absolute;
    left: 0;
    top: -16px;
    width: 100%;
    height: 20px;
    content: "";
}
.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-link:nth-child(1) {
    margin-left: 11px;
}

.header__qr-link:nth-child(2) {
   margin-right: 11px;
}

.header__qr-download-img {
    height: 16px;
}

/* Header Notification */
.header__notify {
    position: absolute;
    width: 404px;
    top: 118%;
    right: 0;
    border: 1px solid #D3D3D3;
    background-color: var(--white-color);
    cursor: default;
    transform-origin: calc(100% - 20px) top;
    animation: headerNotifyGrowth ease-in .25s;
    will-change: opacity, transform;
    display: none;
}

.header__notify::before {
    content: "";
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    right: 12px;
    top: -30px;
}

.header__notify::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -16px;
    width: 90px;
    height: 20px;
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
}

.header__notify-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
}
.header__notify-list {
    padding-left: 0;
}

.header__notify-item {
    display: flex;
}

.header__notify-item:hover {
    background-color: #999;
}

.header__notify-item--viewed {
    background-color: rgba(238, 75, 43, 0.1);
}

.header__notify-link {
    display: flex;
    width: 100%;
    padding: 12px;
    text-decoration: none;
}

.header__notify-img {
    width: 48px;
    object-fit: contain;
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--black-color);
    font-weight: 400;
    line-height: 1.8rem;
}

.header__notify-description {
    display: block;
    font-size: 1.2rem;
    color: #756F6E;
    line-height: 1.6rem;
    margin-top: 4px;
}

.header__notify-footer {
    display: flex;
}

.header__notify-footer-btn {
    text-decoration: none;
    color: #333;
    padding: 8px 0;
    margin: auto;
    font-size: 1.4rem;
    font-weight: 400;
    width: 100%;
    text-align: center;
}

.header__navbar-item--has-notify:hover .header__notify {
    display: block;
}

/* Authentication modal */

.auth-form {
    width: 500px;
    border-radius: 5px;
    background-color: var(--white-color);
    overflow: hidden;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 400;
    cursor: pointer;
}

.auth-form__form {
    margin-top: 16px;
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-bottom: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border-radius: 2px;
    border: 1px solid var(--border-color);
    outline: none;
}

.auth-form__input:focus {
    border-color: #888;
}

.auth-form__aside {
    margin-top: 20px;
}

.auth-form__policy-text {
    font-size: 12px;
    line-height: 1.6rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__controls-back {
    margin-right: 8px;
}

.auth-form__socials {
    background-color: #F5F5F5;
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.auth-form__socials-icon {
    font-size: 1.8rem;
}

.auth-form__socials--facebook {
    color: var(--white-color);
    background-color: #3A5A98;
}

.auth-form__socials--facebook
.auth-form__socials-icon {
    color: var(--white-color);
}

.auth-form__socials-title {
    margin: 0 36px;
}

.auth-form__socials--google {
    background-color: var(--white-color);
    color: #666;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
}

.auth-form__help-separate {
    display: block;
    border-left: 1px solid #dbdbdb;
    height: 25px;
    margin: -4px 16px 0 16px;
}

.auth-form__help-forgot {
    color: var(--primary-color);
}