.nav {
    min-height: 42px;
    background-color: #EF5122;
    display: flex;
    justify-content: space-between;
}

.nav-list {
    padding-left: 0;
    margin: auto 16px;
}

.nav-item {
    color: #fff;
    list-style: none;
    margin: 0 8px;
    display: inline-block;
}

.form-container{
    max-width: 720px;
    padding: 32px;
    margin: 36px auto 0 auto;
    background-color: #fff;
}

.form__row {
    padding: 8px 0;
    display: flex;
}

.form__label {
    min-width: 90px;
}

.form__input {
    flex: 1;
}

.column-layout {
    background-color: #fff;
    margin-top: 36px;
    padding: 12px 0;
    display: flex;
}

.column-item {
    padding: 0 16px;
    flex: 1;
}

.sidebar-one {

}

.sidebar-two {

}

.main-column {
    flex: 3;
}

.feature-layout {
    margin-top: 36px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

@media (min-width: 740px) {
    .feature-layout {
        flex-direction: row;
    }
    
}

.feature-item {
    padding: 12px 16px;
    margin-top: 16px;
    flex-basis: 30%;
}

.feature-item:nth-child(1) {
    background-color: blue;
}

.feature-item:nth-child(2) {
    background-color: green;
}

.feature-item:nth-child(3) {
    background-color: grey;
}

.wrap-layout {
    background-color: #fff;
    margin-top: 36px;
    padding: 12px 0 32px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
}

.wrap-layout__item {
    width: 148px;
    height: 90px;
    background-color: #EF5122;
    text-align: center;
    line-height: 90px;
    font-size: 48px;
    font-weight: 700;
    margin-right: 20px;
}

.center-layout {
    background-color: #7bed9f;
    margin: 36px auto 0 auto;
    padding: 32px 0;
    max-width: 640px;
    height: 320px;
    display: flex;
}

.center-layout__item {
    font-size: 42px;
    font-weight: 700;
    margin: auto;
}

.chart-layout {
    margin: 36px auto 0 auto;
    background-color: #fff;
    padding: 32px 0;
    height: 320px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.chart-layout__item {
    width: 60px;
    color: #fff;
    text-align: center;
    height: var(--percent);
    background-color: #EF5122;
    animation: growth ease-in 0.5s;
}

@keyframes growth {
    from {
        opacity: 0;
        height: calc(var(--percent) - 50%);
    }
    to {
        opacity: 1;
        height: var(--percent);
    }
}


.the-end {
    margin: 12px auto 48px auto;
    padding: 32px 0;
    max-width: 740px;
    min-height: 360px;
    display: flex;
}

.the-end__first {
    padding: 4px 16px;
    background-color: #fff;
    flex: 1;
}

.the-end__second {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.the-end__second-one {
    padding: 4px 16px;
    background-color: #7ed6df;
    flex: 1;
}

.the-end__second-two {
    padding: 4px 16px;
    background-color: pink;
    flex: 1;
}